.container {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    width: 430px;
    height: max-content;
    background-color: white;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.modal {
    padding: 24px;
    width: 100%;
    height: 100%;
    position: relative;
}

.title {
    font-size: 16px;
    font-weight: 600;
}

.close {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 16px;
    right: 20px;
    border-radius: 100px;
    cursor: pointer;
}

.content {
    padding-top: 24px;
}
