.primary {
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 8px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    width: 100%;
}

.primary:hover {
    background-color: var(--primary-dark-color);
}

.primary:disabled {
    opacity: 0.5;
}

.secondary {
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    width: 100%;
}

.secondary:hover {
    background-color: var(--secondary-dark-color);
}

.secondary:disabled {
    opacity: 0.5;
}

.red {
    padding: 10px;
    background-color: #eb4034;
    border-radius: 8px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    width: 100%;
}

.red:hover {
    background-color: #c9372c;
}

.red:disabled {
    opacity: 0.5;
}

.green {
    padding: 10px;
    background-color: #1c8528;
    border-radius: 8px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    width: 100%;
}

.green:hover {
    background-color: #15631e;
}

.green:disabled {
    opacity: 0.5;
}
